local remove_effects_by_type = function(effects, type)
    local new_effects = {}

    for _, effect in pairs(effects) do
        if effect.type ~= type then
            table.insert(new_effects, effect)
        end
    end

    return new_effects
end

local technologies = data.raw["technology"]

{% for technology_name in technologies %}
technologies["{{ technology_name }}"].hidden = true
technologies["{{ technology_name }}"].unit = nil
technologies["{{ technology_name }}"].research_trigger = { type = "scripted" }
{%- if options.split_technologies and technology_name not in data_utils.upgrades_map %}
if technologies["{{ technology_name }}"].effects then
    technologies["{{ technology_name }}"].effects = remove_effects_by_type(technologies["{{ technology_name }}"].effects, "unlock-quality")
    technologies["{{ technology_name }}"].effects = remove_effects_by_type(technologies["{{ technology_name }}"].effects, "unlock-recipe")
    technologies["{{ technology_name }}"].effects = remove_effects_by_type(technologies["{{ technology_name }}"].effects, "unlock-space-location")
end
{%- endif %}
{% endfor %}
