{%- from "macros.lua" import dict_to_lua -%}

FREE_SAMPLES = {{ free_samples }}
FREE_SAMPLE_BLACKLIST = {{ dict_to_lua(free_sample_blacklist) }}

local send_items = function(platform)
    local data = storage.free_samples.platforms[platform.index]
    local samples = data.pending_samples
    local sent
    local stack = {}

    for name, count in pairs(samples) do
        stack.name = name
        stack.count = count
        if script.active_mods["quality"] then
            stack.quality = "{{ free_sample_quality_name }}"
        end
        if prototypes.item[name] then
            if platform.hub.can_insert(stack) then
                sent = platform.hub.insert(stack)
            else
                sent = 0
            end
            if sent > 0 then
                platform.force.print("Received " .. sent .. "x [item=" .. name .. ",quality={{ free_sample_quality_name }}]")
                data.suppress_full_inventory_message = false
            end
            if sent ~= count then               -- Couldn't full send.
                if not data.suppress_full_inventory_message then
                    platform.force.print("Additional items will be sent when inventory space is available.", {r=1, g=1, b=0.25})
                end
                data.suppress_full_inventory_message = true -- Avoid spamming them with repeated full inventory messages.
                samples[name] = count - sent    -- Buffer the remaining items
                break                           -- Stop trying to send other things
            else
                samples[name] = nil             -- Remove from the list
            end
        else
            platform.force.print("Unable to receive " .. count .. "x [item=" .. name .. "] as this item does not exist.")
            samples[name] = nil
        end
    end
end

local queue_samples = function(force, name, count)
    local function add_to_table(t)
        if count <= 0 then
            -- Fixes a bug with single craft, if a recipe gives 0 of a given item.
            return
        end
        t[name] = (t[name] or 0) + count
    end
    -- Add to storage table of earned samples for future new players
    add_to_table(storage.forcedata[force.name]["earned_samples"])
    -- Add to existing platforms
    for _, platform in pairs(force.platforms) do
        add_to_table(storage.free_samples.platforms[platform.index].pending_samples)
        send_items(platform)
    end
end

local send_for_recipe = function(force, recipe_name)
    local recipe = prototypes.recipe[recipe_name]

    for _, result in pairs(recipe.products) do
        if result.type == "item" and result.amount then
            local name = result.name
            if FREE_SAMPLE_BLACKLIST[name] ~= 1 then
                local count
                if FREE_SAMPLES == 1 then
                    count = result.amount
                else
                    count = get_any_stack_size(result.name)
                    if FREE_SAMPLES == 2 then
                        count = math.ceil(count / 2)
                    end
                end
                queue_samples(force, name, count)
            end
        end
    end
end

local send_for_technology = function(force, technology_name)
    local technology = prototypes.technology[technology_name]

    for _, effect in pairs(technology.effects) do
        if effect.type == "unlock-recipe" then
            send_for_recipe(force, effect.recipe)
        end
    end
end

local on_surface_created = function(event)
    local surface = game.surfaces[event.surface_index]
    local platform = surface.platform

    if platform == nil then
        return
    end

    storage.free_samples.platforms[platform.index] = {
        pending_samples = table.deepcopy(storage.forcedata[platform.force.name]["earned_samples"]),
    }

    send_items(platform)
end

local on_surface_deleted = function(event)
    local surface = game.surfaces[event.surface_index]
    local platform = surface.platform

    if platform == nil then
        return
    end

    storage.free_samples.platforms[platform.index] = nil
end

-- Try to resend items after building in case the platform inventory was full
local on_space_platform_built_entity = function(event)
    send_items(event.platform)
end

local on_space_platform_built_tile = function(event)
    send_items(event.platform)
end

local on_init = function ()
    -- Free samples waiting to be sent by platform
    storage.free_samples = {
        platforms = {},
    }

    -- Fire dummy events for all currently existing surfaces.
    for _, surface in pairs(game.surfaces) do
        on_surface_created({ surface_index = surface.index })
    end
end

if FREE_SAMPLES ~= 0 then
    require("script/receive").hooks.received_recipe(send_for_recipe)
    require("script/receive").hooks.received_technology(send_for_technology)
end

return {
    on_init = on_init,
    events = {
        [defines.events.on_surface_created] = on_surface_created,
        [defines.events.on_surface_deleted] = on_surface_deleted,
        [defines.events.on_space_platform_built_entity] = on_space_platform_built_entity,
        [defines.events.on_space_platform_built_tile] = on_space_platform_built_tile,
    },
}
